.newsItemsContainer {
    background-image: url("https://townshiptale.com/static/news/item_header.svg");
    background-repeat: no-repeat;
    width: calc(18.75rem * 3.17);
    height: calc(3.8125rem * 3.2);
    margin: 0 0 1rem;
    padding: 0 3rem 0 2.5rem;
    -webkit-transform: translateX(-.5rem);
    transform: translateX(-.5rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    -webkit-transition: .1s;
    transition: .1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.newsItemsContainer:nth-child(2n) {
    background-image: url("https://townshiptale.com/static/news/item_header_reverse.svg");
}

.newsItemsContainer:hover {
    margin: 0 0 1rem 2rem;
    -webkit-transition: .1s;
    transition: .1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.authorThumbnail {
    width: 8rem;
    height: 8rem;
    background-color: rgb(183, 139, 118);
}

.informationContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Josefin Sans,sans-serif;
    width: 26.5rem;
    height: 8.25rem;
}

.thumbnailContainer {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
}

.thumbnail {
    width: 240px;
    display: block;
    margin: 0px;
    border: none;
    padding: 0px;
}

.informationHeading {
    text-decoration: none;
    color: #ff9e1d;
    background-color: transparent;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.4rem;
    margin: .5rem 0 0;
}

.informationDate {
    font-size: 1rem;
    line-height: 1em;
    color: #918b8a;
    font-weight: 300;
}

.informationAuthor {
    font-size: 1rem;
    line-height: 1em;
    color: #918b8a;
    font-weight: 300;
}

.informationBlurb {
    line-height: 1.2em;
    font-weight: 300;
    color: #e7e4e3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1rem;
    margin: 1.1rem 0 0;
}

.mainPictureContainer {
    display: none;
    overflow: hidden;
    inset: 0px;
    box-sizing: border-box;
    margin: 12px 0px 0px;
    width: 100%;
}

.mainPicture {
    width: 100%;
}

@media (max-width: 960px) {
    .newsItemsContainer {
        font-size: clamp(6.5px,1.4vw,16px);
        background-repeat: no-repeat;
        height: 46.8em;
        width: 58em;
        -webkit-transform: translateX(.5em);
        transform: translateX(.5em);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 3.5em;
        justify-content: space-evenly;
    }

    .newsItemsContainer:hover {
        margin: 0 0 3.5em;

    }

    .authorThumbnail {
        display: none;
    }

    .mainPictureContainer {
        display: block;
    }

    .informationContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-family: Josefin Sans,sans-serif;
        margin: 0 2em;
        width: 100%;
    }

    .informationHeading {
        font-size: 3em;
        margin: .5rem 0 0;
    }

    .informationBlurb {
        font-size: 2em;
        margin-bottom: 1em!important;
        margin-right: 1em;
        margin-top: 0px;
    }

    .informationAuthor {
        display: none;
    }

    .thumbnailContainer {
        display: none;
    }
}

