.link {
    color: #fff;
    font-size: 1.125em;
    font-weight: 300;
    background: transparent;
    margin: 0 .357em;
    padding: 0 1.1em;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
    border-radius: .28571429em;
    align-self: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

